{% extends 'registration/base_registration.html' %}
{% block content %}
{% if validlink %}
<h2>Change password</h2>
<br>
<div style="max-width:300px; margin:auto;">
<form method="post">
    {% csrf_token %}
    <div class="well" style="color:red;"><strong>Your password should be at least 8 characters and cannot be entirely numeric</strong></div>
    <div class="form-group">
        <input type="password" name="{{ form.new_password1.html_name }}" id="{{ form.new_password1.id_for_label }}" class="form-control" required placeholder="New password">
    </div>
    <div class="form-group">
        <input type="password" name="{{ form.new_password2.html_name }}" id="{{ form.new_password2.id_for_label }}" class="form-control" required placeholder="Re-type new password">
    </div>
    <button class="btn btn-primary" type="submit" value="Change password">Change password</button>
</form>
</div>
{% else %}
<p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
</p>
{% endif %}
{% endblock %}