{% extends 'registration/base_registration.html' %}
{% block content %}
<h2>Forgot password</h2>
<br>
<div style="margin: auto; max-width: 300px;">
    <form method="post">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" class="form-control" required placeholder="Email">
    </div>
        <button class="btn btn-primary" type="submit" value="Submit">Reset password</button>
    </form>
</div>
{% endblock %}