{% extends 'base.html' %}

{% block title %}
    <title>Contact</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Contact us</h1>
    <br>
    <ul class="ul-no-bullet">
        <li><h4>Anton Van de Putte</h4></li>
        <li><strong>Project manager</strong></li>
        <li>anton.vandeputte(a)naturalsciences.be</li>
        <li>antonarctica(a)gmail.com</li>
        <br>
        <br>
        <li><h4>Yi-Ming Gan</h4></li>
        <li><strong>Data science officer</strong></li>
        <li>yi-ming.gan(a)naturalsciences.be</li>
        <li>data.biodiversity.aq(a)gmail.com</li>
    </ul>



</div>

{% endblock %}
