{% extends 'base.html' %}

{% block title %}
    <title>Data source</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Data source</h1>
    <br>
    <h4>Datasets</h4>
    <p>Data published on biodiversity.aq's <a href="http://ipt.biodiversity.aq">IPT</a> will be published on
        <a href="https://www.gbif.org/">GBIF</a> and <a href="https://obis.org">OBIS</a>.
        The data provided in this data portal are only obtained from <a href="https://www.gbif.org/">GBIF</a>
        without any further cleaning.
    </p>
    <br>
</div>

{% endblock %}
