{% load static %}
<!-- LOGOS -->
<div class="footer-logos container-fluid">
    <div class="footer-logos container">
        <a href="https://www.biodiversity.be/"><img src="{% static '/data_manager/logos/logo_BBPF_white.png' %}" class="partners-logo"></a>
        <a href="http://lifewatch.be/"><img src="{% static '/data_manager/logos/logo_lifewatch_transp.png' %}" class="partners-logo"></a>
        <a href="https://www.scar.org/"><img src="{% static '/data_manager/logos/SCAR logo_white_transp.svg' %}" class="partners-logo"></a>
        <a href="http://marinespecies.org/"><img src="{% static '/data_manager/logos/logo-WORMS-white-background-transp.png' %}" class="partners-logo"></a>
        <a href="https://obis.org/"><img src="{% static '/data_manager/logos/obis_logo_white.svg' %}" class="partners-logo"></a>
        <a href="https://www.gbif.org/"><img src="{% static '/data_manager/logos/GBIF-2015-mark-white.svg' %}" class="partners-logo"></a>
        <a href="https://odnature.naturalsciences.be"><img src="{% static '/data_manager/logos/rbins.png' %}" class="partners-logo"></a>
    </div><!-- end footer-logos container -->
</div><!-- end footer-logos container-fluid -->