{% extends 'base.html' %}

{% block title %}
<title>Policy</title>
{% endblock %}

{% block script %}
<style>
@media (min-width: 1200px) {
    .content{
    max-width: 800px;
    }
}
h2 {
    color: black;
    }
</style>
{% endblock %}

{% block body %}
<div class="container text-center content">
    <h1>Terms and Policies </h1>
    <p class="lead">
    The terms of use and policies of Antarctic Biodiversity Portal.
    </p>
    <hr>
</div>

<div class="container content">
    <!--PRIVACY POLICY-->
    <h2 class="text-center">Privacy policy</h2>
    <p>
        The information that will be processed includes personal data that you provide to us or that we collect using
        the site in connection with the following:
    </p>
    <ul>
        <li>For users: email address as part of the setting up of an account in order to provide access to downloads.</li>
        <li>Cookies that we use to provide session management.</li>
        <li>Information related to search events, including criteria, timestamps and summary download results.</li>
        <li>Third-party cookies that process information related to website usage statistics provided by Google Analytics.</li>
    </ul>
    <p>
        This processing of personal data is necessary in order to fulfil requirements related to research and scientific
        methods, intellectual property rights, administrative purposes and operation of the site.
        The default settings on the site implies that the Processing only includes necessary information.
    </p>
    <p>
        Furthermore, the Antarctic Biodiversity Portal may be required to transfer the information
        to the authorities as required by law.
    </p>
    <p>You have the right of access to and the right to rectify the personal data relating to you.</p>
    <p>
        You may review, update, correct or delete your personal data by contacting us by email
        data.biodiversity.aq[at]gmail.com. We may maintain an archived copy as required by law or for any of
        the above-mentioned purposes.
    </p>
    <p>
        With regard to cookies, you can instruct your browser by changing its options to stop accepting
        cookies but this may affect the use of the site.
    </p>
    <p>
        This Privacy Policy may be updated from time to time, and you are advised to consult this
        Privacy Policy regularly for any changes.
    </p>
    <hr>
    <!--DATA POLICY-->
    <h2 class="text-center">Data Policy</h2>
    <h3>Terms of use</h3>
    <p>Following the guidelines from the
        <a href="http://www.scar.org/publications/reports/Report39.pdf">SCAR</a>
        and <a href="http://ipy.arcticportal.org/images/uploads/final_ipy_data_policy-1.pdf">IPY</a>
        Data Policies, and the recommendations from the Polar Information Commons
        (<a href="http://www.polarcommons.org">PIC</a>),
        ANTABIF uses the <a href="http://creativecommons.org/licenses/by/3.0/">CC-BY Licence</a>,
        and badges data as part of the PIC.</p>

    <p>You are free to: </p>
    <ul>
        <li>Share — to copy, distribute and transmit the work</li>
        <li>Remix — to adapt the work</li>
        <li>make commercial use of the work</li>
    </ul>

    <p>Under the following conditions: </p>
    <ul>
        <li>Attribution — You must attribute the work in the manner specified by the author or
            licensor (but not in any way that suggests that they endorse you or your use of the work).</li>
    </ul>
    <br>
    <h3>Citation</h3>
    <p>Upon data download, you will receive a text file mentioning how you are expected to cite
        the author(s) of the data.</p>
    <p>Please cite the ANTABIF project as: <br>
        Van de Putte A, Youdjou N, Danis B [year accessed]. The Antarctic Biodiversity Information Facility.
        World Wide Web publication, available online at
            <a href="http://www.biodiversity.aq">http://www.biodiversity.aq</a>
    </p>
    <p>This project is community-driven: data users and data contributors are expected to follow
        appropriate norms of behavior.</p>
    <hr>
</div>
{% endblock %}
