{% extends 'base.html' %}

{% block title %}
<title>Privacy policy</title>
<style>
@media (min-width: 1200px) {
    .content{
    max-width: 800px;
    }
}
</style>
{% endblock %}

{% block body %}
<div class="container text-center content">
    <h1>Privacy policy </h1>
    <br>
    <strong>
    The Antarctic Biodiversity Information Facility, provides this Privacy Policy to inform you of the
    collection, use and processing disclosure of personal data on this site.
    </strong>
    <hr>
</div>

<div class="container content">
    <p>
        The information that will be processed includes personal data that you provide to us or that we collect using
        the site in connection with the following:
    </p>
    <ul>
        <li>For users: email address as part of the setting up of an account in order to provide access to downloads.</li>
        <li>Cookies that we use to provide session management.</li>
        <li>Information related to search events, including criteria, timestamps and summary download results.</li>
        <li>Third-party cookies that process information related to website usage statistics provided by Google Analytics.</li>
    </ul>
    <p>
        This processing of personal data is necessary in order to fulfil requirements related to research and scientific
        methods, intellectual property rights, administrative purposes and operation of the site.
        The default settings on the site implies that the Processing only includes necessary information.
    </p>
    <p>
        Furthermore, the Antarctic Biodiversity Information Facility may be required to transfer the information
        to the authorities as required by law.
    </p>
    <p>You have the right of access to and the right to rectify the personal data relating to you.</p>
    <p>
        You may review, update, correct or delete your personal data by contacting us by email
        data.biodiversity.aq[at]gmail.com. We may maintain an archived copy as required by law or for any of
        the above-mentioned purposes.
    </p>
    <p>
        With regard to cookies, you can instruct your browser by changing its options to stop accepting
        cookies but this may affect the use of the site.
    </p>
    <p>
        This Privacy Policy may be updated from time to time, and you are advised to consult this
        Privacy Policy regularly for any changes.
    </p>
    <hr>
</div>
{% endblock %}